<h1>Instructions</h1>
<ul>
  <ol>Fork this stackblitz</ol>
  <ol>Read specifications in the readme provided in this stackblitz</ol>
  <ol>Create an app based off those specifications</ol>
  <ol>Email us a share link to your stackblitz</ol>
</ul>
<p>
  Some tools are already provided to you such as this mock backend. Do not add a backend. We use
  Material, RXJS, and NGRX extensivley in our applications and they are included
  in this stackblitz as dependencies.
</p>
<br>
<button mat-button (click)="addCamera()">add a camera</button>
<button mat-button (click)="addVehicle()">add a vehicle</button>
<button mat-button (click)="assign()">assign</button>

<pre>{{ getVehicles() | async | json}}</pre>
<pre>{{ getVehicleById(1) | async | json}}</pre>
<pre>{{ getCameras() | async | json}}</pre>
<pre>{{ getCameraById(0) | async | json}}</pre>
<pre>{{ getAssignments() | async | json}}</pre>
